body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    
    
    
}
h1{
    font-weight: bold;
    font-size: 25px;
}
p{
    font-weight: bold;
    
}
button{
    background-color: blue;
    width: 200px;
    height: 40px;

}
.result{
    background-color: white;
}

